<div class="calculator">
  <h2>Calculator</h2>
  <input type="text" [(ngModel)]="display" readonly>
  <div class="buttons">
    <hr>
    <button (click)="addToDisplay('1')">1</button>
    <button (click)="addToDisplay('2')">2</button>
    <button (click)="addToDisplay('3')">3</button>
    <button (click)="addToDisplay('4')">4</button>
    <button (click)="addToDisplay('5')">5</button>  <hr>
    <button (click)="addToDisplay('6')">6</button>
    <button (click)="addToDisplay('7')">7</button>
    <button (click)="addToDisplay('8')">8</button>
    <button (click)="addToDisplay('9')">9</button>
    <button (click)="addToDisplay('0')">0</button>  <hr>
    <button (click)="addToDisplay('+')">+</button>
    <button (click)="addToDisplay('-')">-</button>
    <button (click)="addToDisplay('*')">*</button>
    <button (click)="addToDisplay('/')">/</button>
    <button (click)="clearDisplay()">C</button>   <hr>
    <button (click)="calculateResult()">=</button>
  </div>
</div>